 header {
background-color:#8866c7e1 ;
color: #a32424
text-align: center;
max-width: 800px auto;
margin: 0 auto;
 }

hl{
}
main{
 background-color: bisque;
color:black
max-wihth: 800px;
margin: 0 auto;
text-align: center;
}



img{
 display: block;
 width: 250;
 margin: 0 auto;
 border: 4px solid #a32424;
 height: 300px ;
}


